.text {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-family: $font-primary;
}

.banner {
  color: #000;

  &__image {
    background-image: url(../images/mobile-image-top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 65%;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 30px;
  }

  &__subtitle {
    font-size: 30px;
    text-transform: uppercase;
    width: 220px;
    line-height: 1.3;
    padding-bottom: 25px;
    font-weight: bold;
  }

  &__text {
    width: 160px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: #6b6f78;
    padding-bottom: 170px;
  }
}

.site-logo {
  text-align: center;
  margin-bottom: 35px;
  padding-top: 30px;
}

.site-logo a:hover {
  box-shadow: 0 2px 0 0 #fff;
}

@import './banner768px.scss';
@import './banner960px.scss';
