@media (min-width: 1200px) {
  .banner {
    color: #000;

    &__image {
      height: 600px;
      background-image: url(../images/landing-top.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__title {
      font-size: 36px;
      padding-bottom: 24px;
    }

    &__subtitle {
      font-size: 46px;
      width: 600px;
      line-height: 1.3;
      padding-bottom: 20px;
    }

    &__text {
      width: 280px;
    }
  }
}