
  .button {
    border: 3px solid $primary-btn-color;
    background-color: $primary-btn-color;
    color: $primary-white-color;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $font-primary;
    outline: 0;
    width: 260px;
    cursor: pointer;
    box-shadow: 8px 8px 70px 0 rgba(225,107,29,.7);
    font-size: 12px;
    line-height: 16px;
    transition: all .3s linear;
    padding: 14px 38px;
    border: none;
    background-color: #e16b1d;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 8px 8px 70px 0 rgba(225, 107, 29, 0.7);
  }
  .button:hover {
    background-color: transparent;
    color: $primary-blue-color;
  }