.button {
  border: 0;
  background-color: #e16b1d;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  outline: 0;
  width: 260px;
  cursor: pointer;
  box-shadow: 8px 8px 70px 0 rgba(225,107,29,.7);
  font-size: 12px;
  line-height: 60px;
}
