.wrapper {
  background: radial-gradient(circle, $bgcolor-darkblue, $bgcolor-lightblue);
  display: flex;
  justify-content: center;
  padding-bottom: 69px;
}

.box {
 padding-left: 61px;
 padding-right: 61px;
 
}


.list {
  

  &__title {
    font-family: $font-primary;
    color: $primary-white-color;
    font-size: 20px;
    line-height: 60px;
    font-weight: 800;
    padding-top: 55px;
    margin-bottom: 18px;
    
    &--text {
      color: $primary-lightblue-color;
    }
  }
  &__box {
    max-width: 256px;
    font-family: $font-primary;
    color: $primary-white-color;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 36px;
    list-style-type: none;



    &--title {
      font-weight: 800;
    }
    &:before {
      display: block;
      content: '';
      width: 12px;
      height: 12px;
      background-color: $primary-orange-color;
      margin-bottom: 14px;
    }
  }
}

/* Стилизация под расширение 768px */
@media (min-width: 768px) and (max-width: 1200px) {

  .wrapper {
    padding-bottom: 86px;
  }

  .list {
    &__title {
      font-size: 36px;
      padding-top: 86px;
    }
  }

  .list__box {
    min-width: 45%; /* 323px; */
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

  }
}

 /* Стилизация под расширение 768px */
@media (min-width: 1200px) {
  .wrapper {
    padding-bottom: 66px;
  }
  .box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .title-wrapper {min-width: 416px;

  }


  .list {
    &__title {
      font-size: 36px;
    }
  }

  .list__box {
    min-width: 45%; /* 328px; */
    padding-top: 65px;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

  }


} 
 