@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: bold;
  src: local('Acrom Bold'), local('Acrom-Bold'),
    url('../../../fonts/Acrom-Bold.woff') format(woff),
    url('../../../fonts/Acrom-Bold.woff2') format(woff2);
}

@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font: weight 800;

  src: local('Acrom-ExtraBold'), local('Acrom-ExtraBold'),
    url('../fonts/Acrom-ExtraBold.woff') format(woff),
    url('../fonts/Acrom-ExtraBold.woff2') format(woff2);

  src: local('Acrom ExtraBold'), local('Acrom-ExtraBold'),
    url('../../../fonts/Acrom-ExtraBold.woff') format(woff),
    url('../../../fonts/Acrom-ExtraBold.woff2') format(woff2);

}

@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 300;

  src: local('Acrom-Light'), local('Acrom-Light'),
    url('../fonts/Acrom-Light.woff') format(woff),
    url('../fonts/Acrom-Light.woff2') format(woff2);

  src: local('Acrom Light'), local('Acrom-Light'),
    url('../../../fonts/Acrom-Light.woff') format(woff),
    url('../../../fonts/Acrom-Light.woff2') format(woff2);

}

@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 500;

  src: local('Acrom-Medium'), local('Acrom-Medium'),
    url('../fonts/Acrom-Medium.woff') format(woff),
    url('../fonts/Acrom-Medium.woff2') format(woff2);

  src: local('Acrom Medium'), local('Acrom-Medium'),
    url('../../../fonts/Acrom-Medium.woff') format(woff),
    url('../../../fonts/Acrom-Medium.woff2') format(woff2);

}

@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 400;

  src: local('Acrom-Regular'), local('Acrom-Regular'),
    url('../fonts/Acrom-Regular.woff') format(woff),
    url('../fonts/Acrom-Regular.woff2') format(woff2);

  src: local('Acrom'), local('Acrom Regular'), local('Acrom-Regular'),
    url('../../../fonts/Acrom-Regular.woff') format(woff),
    url('../../../fonts/Acrom-Regular.woff2') format(woff2);

}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../../../fonts/Montserrat-Bold.woff') format('woff'),
    url('../../../fonts/Montserrat-Bold.woff2') format('woff');
}
