/* Цвета */
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$primary-grey-color: #6a707b;
$primary-lightgrey-color: #787b85;
$primary-blue-color: #0e1f34;
$primary-darkblue-color: #1b202a;
$primary-lightblue-color: #00edff;
$primary-btn-color: #ff6b08;
$primary-orange-color: #ff6c00;
$bgcolor-darkblue: #0f233b;
$bgcolor-lightblue: #181c27;

/* Шрифты */
$font-primary: "Acrom", sans-serif;
$font-secondary: "Montserrat", sans-serif;