.card {
    width: 224px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 32px 15px rgba(0,0,0,.16);
    &__picture {
        margin-top: auto;
        margin-bottom: 20px;
        &--first {
            transform: translate(-8px,-4px);
        }
        &--second {
            transform: translate(-6px,13px);
        }
        &--third {
            transform: translate(-11px,7px);
        }
    }
    &__text-wrapper {
        padding-left: 27px;
        padding-top: 35px;
        padding-bottom: 25px;
        text-align: start;
    }
    &__title {
        font-size: 18px;
        width: 120px;
        line-height: 26px;
        padding-bottom: 25px;
        font-family: $font-primary;
        font-weight: 800;
        text-transform: uppercase;
        display: block;
    }
    &__descr {
        width: 170px;
        font-size: 14px;
        font-family: $font-primary;
        font-weight: 400;
        line-height: 1.4;
        color: $primary-grey-color;
        &--special {
            font-weight: 800;
            color: $primary-black-color;
        }
    }
    &::after {
        content: "";
        margin: 40px auto 65px;
        height: 11px;
        width: 11px;
        background-color: $primary-orange-color;
        left: 0;
        top: -62px;
        position: absolute;
        font-family: $font-primary;
        font-weight: 800;
    }
}
.cards {
    counter-reset: section;
}
.card-background {
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.card::before {
    counter-increment: section;
    content: "0" counter(section) "_";
    left: 25px;
    top: -50px;
    position: absolute;
    font-size: 70px;
    z-index: -2;
    color: #f6f6f6;
    font-family: $font-primary;
    font-weight: 600;
}
.card-wrapper {
    margin-bottom: 63px;
}
.card-wrapper:last-child {
    margin-right: 0px;
}