@media (min-width: 960px) and (max-width: 1440px) {
  .header {
    display: flex;
    justify-content: center;

    &__one {
      display: flex;
      padding-top: 60px;
    }

    &__title {
      font-family: 'Acrom';
      font-weight: 800;
      text-transform: uppercase;
      color: #1b2436;
      line-height: 1.4;
      width: 266px;
      font-size: 24px;
    }

    &__text {
      width: 266px;
    }
  }

  .bold-text {
    font-weight: bold;
    color: #1b2436;
  }
}
