.header {
  padding-top: 34px;

  &__one {
    display: flex;
    padding-left: 30px;
  }

  &__title {
    font-family: 'Acrom';
    font-weight: 800;
    text-transform: uppercase;
    color: #1b2436;
    padding: 35px 0 25px 0;
    line-height: 1.4;
    width: 220px;
  }

  &__text {
    color: #6b6f7a;
    width: 200px;
  }
}

.bold-text {
  font-weight: bold;
  color: #1b2436;
}

@import './header-480px.scss';
@import './header-960px.scss';