@media (min-width: 480px) {
  .header {
    padding-top: 34px;
    padding-right: 20px;
    // height: 550px;
    display: flex;
    justify-content: space-between;
    
    &__one {
      display: flex;
    }

    &__title {
      font-family: 'Acrom';
      font-weight: 800;
      text-transform: uppercase;
      color: #1b2436;
      padding: 35px 0 25px 0;
      line-height: 1.4;
      width: 150px;
    }

    &__text {
      color: #6b6f7a;
      width: 150px;
      line-height: 1.5;
      padding-bottom: 90px;
    }
  }

  .bold-text {
    font-weight: bold;
    color: #1b2436;
  }
}

