.container {
  padding-right: 64px;
  padding-left: 64px;
}

.about_us {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(/images/nata/tablet-middle-2.jpg);
  background-position: center;
}

.text-wrap {
//   width: 246px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .text-wrap {
    width: 496px;
  }
  .dark {
    padding: 88px 30px;  
    background-image: url(/images/nata/tablet-middle-2.jpg);
  }
}

@media screen and (min-width: 1200px) {
    .dark {
        padding: 98px 65px;  
        background-image: url(/images/nata/landing-middle-2.jpg);
    }
    .text-wrap {
        width: 691px;
    }
}

.text {
  font-family: $font-primary;
  font-weight: 500;
  font-size: 16px;
  color: $primary-grey-color;
  text-align: center;
}

.text-span {
  color: $primary-lightblue-color;
}

