.dark {
    min-height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image:  url(/images/nata/landing-middle-2.jpg);
}

.container {
    width: 246px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 496px;
    }
}

@media screen and (min-width: 960px) {
    .container {
        width: 691px;
    }
}

.text {
    font-family: $font-primary;
    font-weight: 500;
    font-size: 16px;
    color: #6b6f7a;
    text-align: center;
}

.text-span {
    color: $primary-lightblue-color;
}